@import "../variables.css";

.account-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--white-border-color);
    width: 13rem;
    flex-shrink: 0;
    padding: 1rem;
    background: #004CBE;
    background: linear-gradient(168deg,rgba(0, 76, 190, 1) 0%, rgba(9, 34, 72, 1) 92%);
    color: var(--white-background);
}

.account-card > h2{
    padding-top: 1.5rem;
}

.account-card > p {
    padding-bottom: 1rem;
}

.account-card-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px dashed var(--light-blue);
    width: 13rem;
    flex-shrink: 0;
    color: var(--light-blue);
}
