@import "../variables.css";

.pay-card {
    display: flex;
    flex-direction:row;
    border-radius: 8px;
    border: 1px solid var(--white-border-color);
    align-items: center;
    padding: 0rem 1rem;
}